<footer>
    <div class="contenedor-footer">
        <div class="contenedor-logo-footer">
            <img src="" alt="">
        </div>

        <div class="contenedor-datos-avisos-footer">
            <div class="datos-contacto-footer">
                <div class="titulo-seccion">
                    <div class="linea-titulo"></div>
                    <span>CONTACTANOS</span>
                </div>

                <ul>
                    <li><strong>Email:</strong> minitouris@gmail.com</li>
                    <li><strong>Tel:</strong> (55) 2620 0507</li>
                </ul>

                <div class="contenedor-rss-footer">
                    <a href=""><img src="../../assets/icon-facebook-b.svg" alt=""></a>
                    <a href=""><img src="../../assets/icon-linkedin-b.svg" alt=""></a>
                    <a href=""><img src="../../assets/icon-instagram-b.svg" alt=""></a>
                </div>
            </div>

            <div class="datos-avisos-footer">
                <div class="titulo-seccion">
                    <div class="linea-titulo"></div>
                    <span>LEGAL</span>
                </div>

                <ul>
                    <li><a>Aviso de Privacidad</a></li>
                    <li><a>Términos & Condiciones</a></li>
                </ul>
            </div>
        </div>

        <div class="contenedor-calificacion-footer">
            <div class="titulo-seccion">
                <div class="linea-titulo"></div>
                <span>CALIFICACIÓN</span>
            </div>

            <form action="">
                <div class="contenedor-input">
                    <input type="text" name="" placeholder="Nombre Completo">
                </div>

                <div class="contenedor-input">
                    <label class="titulo-calificacion">Calificanos</label>
                    <div class="calificacion">
                        <input id="radio1" type="radio" name="estrellas" value="5">
                        <label for="radio1">★</label>

                        <input id="radio2" type="radio" name="estrellas" value="4">
                        <label for="radio2">★</label>

                        <input id="radio3" type="radio" name="estrellas" value="3">
                        <label for="radio3">★</label>

                        <input id="radio4" type="radio" name="estrellas" value="2">
                        <label for="radio4">★</label>

                        <input id="radio5" type="radio" name="estrellas" value="1">
                        <label for="radio5">★</label>
                    </div>
                </div>

                <div class="contenedor-input">
                    <textarea name="" id="" placeholder="Dejanos un Comentario"></textarea>
                </div>

                <div class="contenedor-button">
                    <input type="submit" value="Enviar">
                </div>
            </form>
        </div>
    </div>
</footer>