
<div class="carousel-container">
    <div class="contenedor-img-portada-inicio"></div>
    <div class="contenedor-categorias-modal">
      <br><br><br><br><br>
    </div>
    
    <br>
  
    <!-- Carousel -->
    <div class="carousel">
      <ng-container *ngFor="let card of cards">
        <a class="carousel-item">
          <div *ngIf="hasImages; else noCards" class="img-area">
            <img [src]="card.image" alt="{{ card.image }}" (click)="openImageModal($event, card)">
          </div>
          <ng-template #noCards>
            No hay tarjetas
          </ng-template>
        </a>
      </ng-container>
    </div>
  
    <!-- Carousel Buttons -->
    <div class="carousel-button-container">
      <button class="carousel-button left" (click)="rotateLeft()">
        <img src="../../assets/left_arrow.png" alt="Left Button">
      </button>
      <button class="carousel-button right" (click)="rotateRight()">
        <img src="../../assets/right_arrow.png" alt="Right Button">
      </button>
    </div>
  </div>  