<section class="contact-block">
    <div class="container">
        <div class="row">
            <div class="col-md-4 form-section">
                <div class="about-us">
                    <div>
                        <h2>¿Dónde puedo encontrar las MiniTourist Cards?</h2>
                        <p>
                            Un Anuncio-Display con un gran atractivo y diseño, estará siempre ubicado en los hoteles, restaurants, negocios y autoservicios
                            de la ciudad, en un lugar destacado dentro de las recepciones y accesos principales, explicando a los potenciales clientes, las
                            bondades y beneficios de entrar (por medio de un código QR) a nuestra página principal (www.minitouristcards.com) donde encontrarán
                            un amigable carrousel con tu tarjeta y toda tu información en ella.
                        </p>
                        <img src="assets/images/screen 2.png">
                        <p>
                           1. Anuncio-Display de pared:
                           <br>Son posters, para colocar en paredes o en estructuras verticales, aprovechando eficientemente espacios, instalados en elegantes acrílicos<br/>
                        </p>
                        <p>
                            2. Anuncio Acrílico de escritorio:
                            <br>Son posters promocionales insertados en porta-anuncios de acrílico transparente rectangulares, colocados en mostradores, escritorios o mesas<br/>
                         </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
