<section class="seccion-general fade-in">
    <section class="seccion-delminitours-card-0">
        <div class="contenedor-general-delminitours-card-0">
            <div class="contenedor-mapa-delminitours-card-0">
                <img src="" id="">
            </div>

            <div class="contenedor-info-delminitours-card">
                <div class="titulo-seccion">
                    <div class="linea-titulo"></div>
                    <span>¿DÓNDE ENCUENTRO LAS MINITOURS CARD?</span>
                </div>
                <h2>LOREM IPSUM DOLOR, CONSECTETUR ADIPISCING ELIT.</h2>
                <p>Maecenas ultrices ante mauris, a molestie nisi finibus eu. Nam nec nunc a lorem aliquet blandit. Vestibulum in mauris justo. Donec ullamcorper a ipsum vel 
                    tincidunt. Integer sodales dolor id felis posuere, eu maximus nisl molestie.
                </p>

                <div class="contenedor-ubicaciones-cartas">
                    <input type="radio" name="ubicaciones" id="ubicacion1" checked>
                    <label for="ubicacion1"><img src="../../assets/icon-ubicacion-n.svg" alt=""> <span>GUERRERO</span></label>

                    <input type="radio" name="ubicaciones" id="ubicacion2">
                    <label for="ubicacion2"><img src="../../assets/icon-ubicacion-n.svg" alt=""> <span>JALISCO</span></label>

                    <input type="radio" name="ubicaciones" id="ubicacion3">
                    <label for="ubicacion3"><img src="../../assets/icon-ubicacion-n.svg" alt=""> <span>OAXACA</span></label>
                </div>
            </div>
        </div>
    </section>

    <section class="seccion-delminitours-card-1">
        <div class="contenedor-genral-delminitours-card-1">
            <div class="titulo-seccion">
                <div class="linea-titulo"></div>
                <span>¿DÓNDE ENCUENTRO LAS MINITOURS CARD</span>
            </div>

            <h2>LOREM IPSUM DOLOR,<br> CONSECTETUR ADIPISCING ELIT.</h2>
            
            <div class="contenedor-clientes">
                <div class="carrusel-clientes">
                    <div class="clientes">
                        <img src="../../assets/img-cliente-1.webp" alt="">
                    </div>

                    <div class="clientes">
                        <img src="../../assets/img-cliente-2.webp" alt="">
                    </div>

                    <div class="clientes">
                        <img src="../../assets/img-cliente-3.webp" alt="">
                    </div>

                    <div class="clientes">
                        <img src="../../assets/img-cliente-4.webp" alt="">
                    </div>

                    <div class="clientes">
                        <img src="../../assets/img-cliente-5.webp" alt="">
                    </div>

                    <div class="clientes">
                        <img src="../../assets/img-cliente-6.webp" alt="">
                    </div>

                    <div class="clientes">
                        <img src="../../assets/img-cliente-7.webp" alt="">
                    </div>

                    <div class="clientes">
                        <img src="../../assets/img-cliente-8.webp" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</section>