<section class="contact-block">
	<div class="container">
		<div class="row">
			<div class="col-md-4 form-section">
				<h1>
                    Empresa líder en promoción de negocios
                </h1>
                
                <h2>
                    ¡Siempre al paso de tus clientes!
                </h2>
                
                
                <div class="about-us">
                    <h2>¿QUÉ HACEMOS Y QUIENES SOMOS?</h2>
                    <p>
                        MiniTourist Cards es una empresa constituida conforme a la legislación mexicana, donde se busca, a través de un sistema de publicitación relativamente nuevo y aún no muy 
                        explotado en nuestro país, consolidarnos en el gusto de consumidores, empresarios y prestadores de servicios públicos, como una herramienta que, en el consumidor final 
                        influya de manera útil al momento de decidirse a comprar o visitar algún sitio y; en el anunciante, sirva como una herramienta eficaz para la promoción y venta de sus 
                        servicios o productos.
                        Por el momento, la base y el asiento principal de nuestras operaciones se encuentra en Ixtapa-Zihuatanejo, Estado de Guerrero México, mismo que nos servirá de plataforma 
                        de impulso para expandirnos hacia otros lugares que, por su ubicación estratégica y sinergia comercial, representarían plazas naturales de crecimiento para nuestro concepto 
                        y nuestros servicios.
                        MiniTourist Cards está conformada por gente joven y entusiasta, que ha creído en este proyecto y lo ha hecho suyo, siendo todos ellos parte de las diferentes áreas que le dan 
                        cuerpo, forma y funcionalidad a esta empresa visionaria.
                    </p>
                    <div class="about">
                        <div>
                            <h3>MISIÓN</h3>
                            <p>
                                MiniTourist Cards busca ofrecer a los comerciantes o prestadores de servicios, un nuevo esquema 
                                para publicitar sus productos y/o servicios, en un formato de diseño útil, atractivo y novedoso mediante 
                                tarjetas digitales, a las cuales se puede acceder mediante la página web de MiniTourist Cards, misma a la 
                                cual se puede acceder mediante un código QR colocado en vistosos y elegantes Displays, cuya ubicación se 
                                encuentre siempre en los accesos o salidas que son paso obligado de los turistas o de los potenciales consumidores.
                            </p>
                        </div>
                    </div>
                    <div class="about">
                        <div>
                            <h3>VISIÓN</h3>
                            <p>
                                En MiniTourist Cards buscamos consolidarnos como empresa líder en publicidad principalmente dirigida al mercado turístico, al tener cubiertos con nuestros Displays y 
                                nuestras tarjetas, las principales locaciones de cada plaza,siendo para esto siempre el objetivo primordial los lugares de paso, acceso, arribo o salida de turistas y 
                                consumidores potenciales de la población general.
                                Y como consecuencia de lo anterior, convertirnos en una empresa que por los resultados positivos que ofrezca a sus anunciantes y por el servicio que brinde a quienes 
                                consuman sus tarjetas, sea la más buscada y requerida en sus servicios por parte de estos segmentos.
                                MiniTourist Cards, conforme al éxito y consolidación que se tenga en Ixtapa-Zihuatanejo como plaza Mater de nuestro negocio y operaciones, buscará abrir otras plazas de 
                                negocio y operación utilizando siempre la marca, las políticas y los conceptos que le dan su valor y presitgio.
                
                            </p>
                        </div>
                    </div>
                    <!-- Add more team members as needed -->
                </div>
			</div>
			<div class="col-md-8 banner-sec">
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner" role="listbox">
						<div class="carousel-item active">
							<div class="carousel-caption d-none d-md-block">
								<div class="banner-text">
									<h2>This is Heaven</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
										labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>