<section class="seccion-general">
  <section class="seccion-nosotros-0 fade-in">
      <div class="contenedor-img-portada-nosotros"></div>
      <div class="contenedor-general-nosotros-0">
          <h1>ACERCA DE NOSOTROS</h1>
      </div>
  </section>

  <section class="seccion-nosotros-1 fade-in">
      <div class="contenedor-general-nosotros-1">
          <div class="contenedor-titulos-nosotros">
              <div class="titulo-seccion">
                  <div class="linea-titulo"></div>
                  <span>EMPRESA LIDER EN PROMOCIÓN DE NEGOCIOS</span>
              </div>
              <h2>¡SIEMPRE AL PASO DE TUS CLIENTES!</h2>
          </div>

          <div class="contenedor-info-nosotros-1">
              <h3>¿Qué hacemos y quiénes somos?</h3>
              <p>MiniTourist Cards es una empresa constituida conforme a la legislación mexicana, dondese busca, a través de un 
                sistema de publicitación relativamente nuevo y aun no muy explotado en nuestro país, consolidarnos en el gusto de 
                consumidores, empresarios y prestadores de servicios públicos como una herramienta que, en el consumidor final, 
                influya de manera útil al momento de decidirse a comprar algún bien, visitar algún sitio o contratar algún servicio. 
                Y en el anunciante, sirva como una herramienta eficaz para la promoción y venta de sus servicios y productos. 
                  <br><br>
                  Por el momento, la base y el asiento principal de nuestras operaciones se encuentra en Ixtapa-Zihuatanejo, estado de 
                  Guerrero México, mismo que nos servirá de plataforma de impulso para expandirnos hacia otros lugares que, por su ubicación 
                  estratégica y sinergia comercial, representarían plazas naturales de crecimiento para nuestro concepto publicitario y nuestros servicios.
                  <br><br>
                  MiniTourist Cards está conformada por gente joven y entusiasta, que ha creído en este proyecto y lo ha hecho suyo, siendo todos ellos parte 
                  de las diferentes áreas que le dan cuerpo, forma y funcionalidad a esta empresa visionaria.
                  <br><br>
                  Actualmente, MiniTourist Cards cuenta con una Dirección General y Relaciones Públicas,un área de Ventas, una área de Diseño, Programación y 
                  Sistemas Digitales, un área deControl y Estadística, un área Contable, así como con un área de Crédito y Cobranza.
              </p>

              <div class="contenedor-titulo-vision-mision-valores">
                  <img src="../../assets/icon-mision.svg" alt="">
                  <h3>Misión</h3>
              </div>

              <p>MiniTourist Cards busca ofrecer a los comerciantes y prestadores de servicios, un nuevo esquema para publicitar sus productos y/o servicios, 
                en un formato moderno de diseño útil, atractivo y novedoso mediante tarjetas digitales, disponibles en plataformas electrónicas de fácil acceso, 
                tales como páginas web y Apps cuya disposición es muy accesible y al alcance de los turistas y potenciales consumidores. 
                  <br><br>
                  Para el turista y potencial consumidor, MiniTourist Cards busca ser una herramienta útil,práctica y de muy fácil manejo y descarga a través 
                  de computadoras y dispositivoselectrónicos tales como teléfonos celulares y tablets,, donde éstos encuentren toda lainformación básica sobre 
                  sitios, productos y servicios, tales como sitios de interés,atracciones, eventos, restaurantes, tiendas, playas y cualquier otro tipo de locación, 
                  que les sirva para tomar decisiones sobre que hacer, donde comprar y a donde ir.
              </p>

              <div class="contenedor-titulo-vision-mision-valores">
                  <img src="../../assets/icon-vision.svg" alt="">
                  <h3>Visión</h3>
              </div>

              <p>En MiniTourist Cards buscamos consolidarnos como empresa líder en publicidad local y focalizada, dirigida al mercado turístico y a cualquier 
                potencial consumidor que requieraalgún producto o servicio en las diferentes plazas en las que tenemos presencia, al tenercubiertos con nuestras 
                tarjetas digitales e información, los diferentes rubros de productos,lugares y servicios que se ofrecen y se demandan, accesibles a través de 
                nuestras plataformas web y móvil y, siendo para esto, un objetivo primordial tener presencia y anuncios sobre MiniTourist Cards y sus servicios, 
                en los lugares de paso, acceso, arribo osalida de turistas y consumidores potenciales de la población general. 
                  <br><br>
                  Y como consecuencia de lo anterior, convertirnos en una empresa que, por los resultadospositivos que ofrezca a sus anunciantes y por el servicio 
                  que brinde a potencialesconsumidores que decidan descargar las MiniTourist Cards, seamos la opción de guíacomercial y turística más buscada y 
                  requerida en los lugares donde tengamos presencia.
                  <br><br>
                  MiniTourist Cards, conforme al éxito y consolidación que se tenga en Ixtapa-Zihuatanejocomo plaza Mater de nuestro negocio y operaciones, buscará 
                  abrir otras plazas de negocio yoperación utilizando siempre la marca, las políticas y los conceptos que le dan su valor y prestigio.
              </p>

              <div class="contenedor-titulo-vision-mision-valores">
                  <img src="../../assets/icon-valores.svg" alt="">
                  <h3>Valores</h3>
              </div>

              <p>En MiniTourist Cards consideramos fundamental la práctica constante y sistemática devalores que, traducidos en acciones, nos permitan crecer y 
                que se nos visualice como unaempresa responsable con calidad humana, social y ecológica, comprometidos positivamentecon nuestro entorno, basados 
                enunciativa y no limitativamente, en los siguientes principios: 
                  <br><br>
              </p>
              <ul>
                <li>Actitud</li>
                <li>Honestidad</li>
                <li>Responsabilidad</li>
                <li>Lealtad</li>
                <li>Calidad en el servicio</li>
                <li>Colaboración y trabajo en equipo</li>
                <li>Participación activa y propositiva</li>
              </ul>
          </div>
      </div>
  </section>

  <section class="seccion-nosotros-2 fade-in">
      <div class="contenedor-general-nosotros-2">
          <div class="contenedor-img-back-nosotros"></div>
          <div class="contenedor-titulo-seccion-nosotros-2">
              <div class="titulo-seccion">
                  <div class="linea-titulo linea-titulo-b"></div>
                  <span class="titulo-b">¿TE INTERESA APARECER AQUI?</span>
              </div>

              <h2>¡ESCRIBENOS Y HAZ QUE TE ENCUENTREN!</h2>
          </div>

          <div class="contenedor-btn-seccion-nosotros-2">
              <a href="contacto.html">¡CONTÁCTANOS!</a>
          </div>
      </div>
  </section>
</section>
<app-footer></app-footer>