<div class="create-member-container">
    <h2>Crear nuevo miembro</h2>
    <form [formGroup]="createMemberForm" (ngSubmit)="onSubmit()">
      <!-- Member Details Section -->
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" placeholder="Enter email" />
        <div *ngIf="createMemberForm.get('email')!.invalid && createMemberForm.get('email')!.touched">
          <small class="error">Email válido es requerido</small>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="text" id="password" formControlName="password" placeholder="Enter password" />
        <div *ngIf="createMemberForm.get('password')!.invalid && createMemberForm.get('password')!.touched">
          <small class="error">Contraseña es requerido</small>
        </div>
      </div>
      <div class="form-group">
        <label for="cardName">Nombre</label>
        <input type="text" id="cardName" formControlName="cardName" placeholder="Enter name" />
        <div *ngIf="createMemberForm.get('cardName')!.invalid && createMemberForm.get('cardName')!.touched">
          <small class="error">Nombre es requerido</small>
        </div>
      </div>
      <div class="form-group">
        <label for="city">Ciudad</label>
        <select id="city" formControlName="city" style="border-style: solid; border-color: red;display: block;">
          <option value="" disabled>Selecciona una ciudad</option>
          <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
        </select>
        <div *ngIf="createMemberForm.get('city')!.invalid && createMemberForm.get('city')!.touched">
          <small class="error">Ciudad es requerida</small>
        </div>
      </div>
      <div class="form-group">
        <label for="category">Categoría</label>
        <select id="category" formControlName="category" style="border-style: solid; border-color: red;display: block;">
          <option value="" disabled>Selecciona una categoría</option>
          <option value="parks">Parques y atracciones</option>
          <option value="restaurants">Restaurantes, bares y cafeterías</option>
          <option value="places_events">Lugares y eventos</option>
          <option value="stores">Tiendas</option>
          <option value="services">Servicios</option>
        </select>
        <div *ngIf="createMemberForm.get('category')!.invalid && createMemberForm.get('category')!.touched">
          <small class="error">Categoría es requerida</small>
        </div>
      </div>
      <div class="form-group">
        <label for="premium">¿Es miembro premium?</label>
        <div class="radio-container">
          <label class="radio-label">
            <input type="radio" id="premiumYes" formControlName="premium" value="Yes" />
            <span>Si</span>
          </label>
      
          <label class="radio-label">
            <input type="radio" id="premiumNo" formControlName="premium" value="No" />
            <span>No</span>
          </label>
        </div>
        <div *ngIf="createMemberForm.get('premium')!.invalid && createMemberForm.get('premium')!.touched">
          <small class="error">Por favor seleccione una opción</small>
        </div>
      </div>
      
      
      
      <!-- Image Upload Section -->
      <div class="form-group">
        <label for="imageFile">Tarjeta frontal</label>
        <input type="file" id="imageFile" (change)="onImageChange($event, 'front')" />
        <div class="image-preview" *ngIf="frontImagePreview">
          <img [src]="frontImagePreview" alt="Vista previa de la imagen" />
        </div>
      </div>

      <div class="form-group">
        <label for="backImageFile">Tarjeta trasera</label>
        <input type="file" id="backImageFile" (change)="onImageChange($event, 'back')" />
        <div class="image-preview" *ngIf="backImagePreview">
          <img [src]="backImagePreview" alt="Vista previa de la imagen" />
        </div>
      </div>
  
      <!-- Submit Button -->
      <button type="submit" [disabled]="createMemberForm.invalid">Crear miembro</button>
    </form>
  </div>
  