<div class="dashboard-container">
    <!-- Summary Section -->
    <div class="card-panel">
      <h2>Dashboard {{ cardName }}</h2>
      <div class="summary-cards">
        <div class="summary-card">
          <p>Total de tarjetas visitadas</p>
          <h3>{{ visitedCardsCount }}</h3>
        </div>
        <div class="summary-card">
          <p>Total de tarjetas descargadas</p>
          <h3>{{ downloadedCardsCount }}</h3>
        </div>
      </div>
    </div>
  
    <!-- Filter Section -->
    <div class="filter-panel">
      <h2>Filtro por fecha</h2>
      <mat-form-field appearance="outline">
        <mat-label>Selecciona una fecha</mat-label>
        <input matInput [matDatepicker]="datepicker" placeholder="Selecciona una fecha" [value]="currentDate" (dateChange)="onDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
      </mat-form-field>
      <div class="summary-cards">
        <div class="summary-card">
          <p>Total de tarjetas visitadas</p>
          <h3>{{ visitedCardsCountDate }}</h3>
        </div>
        <div class="summary-card">
          <p>Total de tarjetas descargadas</p>
          <h3>{{ downloadedCardsCountDate }}</h3>
        </div>
      </div>
    </div>
  
      <!-- Date Range Filter Section -->
      <div class="filter-panel">
        <h2>Filtro por rango de fechas</h2>
        <mat-form-field appearance="outline">
          <mat-label>Selecciona un rango de fechas</mat-label>
          <mat-date-range-input [rangePicker]="rangePicker">
            <input matStartDate placeholder="Start date" [(ngModel)]="rangeStartDate" (dateChange)="onDateRangeChange()">
            <input matEndDate placeholder="End date" [(ngModel)]="rangeEndDate" (dateChange)="onDateRangeChange()">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
          <mat-date-range-picker #rangePicker></mat-date-range-picker>
        </mat-form-field>
        <div class="summary-cards">
          <div class="summary-card">
            <p>Total de tarjetas visitadas</p>
            <h3>{{ visitedCardsCountRange }}</h3>
          </div>
          <div class="summary-card">
            <p>Total de tarjetas descargadas</p>
            <h3>{{ downloadedCardsCountRange }}</h3>
          </div>
        </div>
      </div>
      
  
    <!-- Member Management Panel -->
    <div class="member-panel">
        <h2>Manejo de usuarios</h2>
        <button (click)="router.navigate(['/create-member'])">Crear asociado</button>
        <button >Actualizar asociado</button>
        <button >Eliminar asociado</button>
        <button (click)="logout()">Cerrar sesión</button>
        <select
            id="members"
            formControlName="members"
            style="border-style: solid; border-color: red; display: block;"
            (change)="onCardSelect($event)">
            <option value="" disabled>Selecciona un socio</option>
            <option *ngFor="let card of cards" [value]="card.cardid">{{ card.cardname }}</option>
        </select>
      </div>
  </div>
  