<div class="responsive-container-block bigContainer">
    <h1>Empresa líder en promoción de negocios</h1>
      <h2>¡Siempre al paso de tus clientes!</h2>
    <div class="responsive-container-block Container">
      <img class="mainImg" src="../../assets/images/screen 3.png">
      <div class="allText aboveText">
        <p class="text-blk headingText">¡Conocenos!</p>
        <p class="text-blk description">
            Si contratas MiniTourist Cards, además de publicidad efectiva recibirás los siguientes beneficios extras:
            <br> • Diseño de tu Minitourist Card.
            <br> • Distribución: Continua y permanente en los puntos contratados.
            <br> • Mapa detallado de localización focalizado de tu negocio.
            <br> • Tarjetas MiniTourist Crads ilimitadas por todo el periodo contratado.
        </p>
      </div>
    </div>