<section class="seccion-cmdminitours-card-0 fade-in">
  <div class="contenedor-general-cmdminitours-card-0">
      <div class="contenedor-titulo-cmdminitours-card-0">
          <div class="titulo-seccion">
              <div class="linea-titulo"></div>
              <span>¡CONOCE MÁS DE LAS MINITOURIST CARDS!</span>
          </div>
          <h2>LOREM IPSUM DOLOR, CONSECTETUR.</h2>
      </div>

      <div class="contenedor-info-cmdminitours-card-0">
          <p>Maecenas ultrices ante mauris, a molestie nisi finibus eu. Nam nec nunc a lorem aliquet blandit. Vestibulum in mauris justo. Donec ullamcorper a ipsum 
              vel tincidunt. Integer sodales dolor id felis posuere, eu maximus nisl molestie. Suspendisse ac sollicitudin nunc, quis aliquet diam. Phasellus hendrerit 
              aliquam felis, eget tempus elit pulvinar vitae.
          </p>
      </div>
  </div>
</section>

<section class="seccion-cmdminitours-card-1 fade-in">
  <div class="contenedor-general-cmdminitours-card-1">
      <div class="contenedor-detalles-tarjetas detalle-izq">
          <img src="../../assets/tarjetas/Fishers.jpg" alt="">
          <div class="info-tarjetas">
              <span>Frontal</span>
              <h3>CATEGORIA</h3>
              <p>El color va de acuerdo a nuestro clasificación.</p>
          </div>
      </div>

      <div class="contenedor-detalles-tarjetas detalle-der">
          <img src="../../assets/tarjetas/Fishers.jpg" alt="">
          <div class="info-tarjetas">
              <span>Frontal</span>
              <h3>LOGO / FOTOGRAFÍA</h3>
              <p>Archivo proporcionado por el cliente en HD.</p>
          </div>
      </div>

      <div class="contenedor-detalles-tarjetas detalle-izq">
          <img src="../../assets/tarjetas/Fishers.jpg" alt="">
          <div class="info-tarjetas">
              <span>Frontal</span>
              <h3>SLOGAN Y/O DESCRIPCIÓN</h3>
              <p>Frase propia del negocio.</p>
          </div>
      </div>

      <div class="contenedor-detalles-tarjetas detalle-der">
          <img src="../../assets/tarjetas/Fishers.jpg" alt="">
          <div class="info-tarjetas">
              <span>Frontal</span>
              <h3>DESCUENTO O PROMOCIÓN</h3>
              <p>Elemento opcional, puedes incluir un atractivo descuento o una cortesía para tu cliente.</p>
          </div>
      </div>

      <div class="contenedor-detalles-tarjetas detalle-izq">
          <img src="../../assets/tarjetas/Fishers.jpg" alt="">
          <div class="info-tarjetas">
              <span>Reversa</span>
              <h3>MAPA DE UBICACIÓN</h3>
              <p>Se muestra de manera exacta la ubicación de tu negocio.</p>
          </div>
      </div>

      <div class="contenedor-detalles-tarjetas detalle-der">
          <img src="../../assets/tarjetas/Fishers.jpg" alt="">
          <div class="info-tarjetas">
              <span>Reversa</span>
              <h3>DETALLES DE LA PROMOCIÓN</h3>
              <p>Términos y resticciones de tu promoción.</p>
          </div>
      </div>

      <div class="contenedor-detalles-tarjetas detalle-izq">
          <img src="../../assets/tarjetas/Fishers.jpg" alt="">
          <div class="info-tarjetas">
              <span>Reversa</span>
              <h3>CONTACTO</h3>
              <p>Domicio, telefono, correo, etc.</p>
          </div>
      </div>

      <div class="contenedor-detalles-tarjetas detalle-der">
          <img src="../../assets/tarjetas/Fishers.jpg" alt="">
          <div class="info-tarjetas">
              <span>Reversa</span>
              <h3>PÁGINA WEB</h3>
              <p>Dirección web de tu pagina.</p>
          </div>
      </div>
  </div>
</section>
<app-footer></app-footer>