body {
    background: linear-gradient(90deg, rgba(230,87,40,1) 0%, rgba(252,31,29,1) 50%, rgba(253,29,29,1) 50%, rgba(230,87,40,1) 100%);
    font-family: sans-serif;
    position: relative;
    float: none;
    height: auto;
    overflow-x: hidden;   
}/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
