@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #ffffff;
    font-family: sans-serif;
    position: relative;
    float: none;
    height: auto;
    overflow-x: hidden;   
}

.seccion-general{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
}



.a-btn-is{
    width: auto;
    height: 50px;
    background-color: #8C0000;
    float: left;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 12px;
    padding-bottom: 15px;
    border-radius: 20px;
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 10px;
    border: solid 3px #8C0000;
}

.a-btn-is:hover{
    background-color: transparent;
    border: solid 3px #8C0000;
}

footer{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
    padding-left: 90px;
    padding-right: 90px;
    display: inline-flex;
    justify-content: center;
}

.contenedor-footer{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
    border-top: solid 1px #FFFFFF;
    padding-top: 120px;
    padding-bottom: 60px;
    display: inline-flex;
    justify-content: space-between;
}

.contenedor-logo-footer{
    width: 300px;
    height: auto;
    background-color: transparent;
    float: left;
}

.contenedor-logo-footer img{
    width: 300px;
    height: 150px;
    background-color: transparent;
    float: left;
}

.contenedor-datos-avisos-footer{
    width: 350px;
    height: auto;
    background-color: transparent;
    float: left;
}

.datos-contacto-footer,
.datos-avisos-footer{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
}

.datos-contacto-footer ul{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
    margin-top: 10px;
    list-style-type: none;
    padding-left: 65px;
}

.datos-contacto-footer ul li{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
    margin-bottom: 10px;
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: left;
}

.datos-contacto-footer ul li strong{
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFF;
}

.datos-avisos-footer{
    margin-top: 20px;
}

.datos-avisos-footer ul{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
    margin-top: 10px;
    list-style-type: none;
    padding-left: 65px;
}

.datos-avisos-footer ul li{
    width: auto;
    height: auto;
    background-color: transparent;
    float: left;
    margin-bottom: 10px;
    position: relative;
}

.datos-avisos-footer ul li a{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: left;
    cursor: pointer;
}

.datos-avisos-footer ul li a:hover{
    color: #8C0000;
}

.contenedor-calificacion-footer{
    width: 400px;
    height: auto;
    background-color: transparent;
    float: left;
}

.contenedor-calificacion-footer form{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
    margin-top: 20px;
}

.contenedor-input{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
    margin-bottom: 20px;
}

.contenedor-input input[type="text"]{
    width: 100%;
    height: 50px;
    float: left;
    background-color: #FFFFFF;
    float: left;
    border-radius: 20px;
    border: none;
    outline: none;
    appearance: none;
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #000000;
    padding: 10px;
}

.titulo-calificacion{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
}

.calificacion{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
    /*direction: rtl;/* right to left */
    /*unicode-bidi: bidi-override;/* bidi de bidireccional */
    display: inline-flex;
    justify-content: start;
    flex-direction: row-reverse;
}

.calificacion label{
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
    margin-right: 15px;
    float: left;
}

.calificacion input[type = "radio"]{ 
    display:none;
}

.calificacion label:hover{
    color:orange;
}

.calificacion label:hover ~ label{
    color:orange;
}

.calificacion input[type = "radio"]:checked ~ label{
    color:orange;
}

.contenedor-input textarea{
    width: 100%;
    height: 150px;
    float: left;
    background-color: #FFFFFF;
    float: left;
    border-radius: 20px;
    border: none;
    outline: none;
    appearance: none;
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #000000;
    padding: 10px;
}

.contenedor-button{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
}

.contenedor-button input[type="submit"]{
    width: auto;
    height: 50px;
    background-color: #8C0000;
    float: left;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 12px;
    padding-bottom: 15px;
    border-radius: 20px;
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 20px;
    border: solid 3px #8C0000;
    cursor: pointer;
}

.contenedor-button input[type="submit"]:hover{
    background-color: transparent;
    border: solid 3px #8C0000;
}


















.seccion-modal{
    width: 100%;
    height: 100vh;
    background-color: #000000;
    position: fixed;
    top: -150vh;
    left: 0;
    z-index: 100;
    transition: top ease .6s;
}

.seccion-modal.muestra-modal{
    top: 0;
    transition: top ease .6s;
}

.contenedor-general-modal{
    width: 1400px;
    height: 780px;
    background-color: #000000;
    float: left;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    display: inline-flex;
    justify-content: center;
}

.contenedor-panel-filtros-modal{
    width: 28%;
    height: 100%;
    background-color: #000000;
    float: left;
    padding-right: 60px;
    border-right: solid 1px #535353;
    position: relative;
}

.contenedor-filtro-ciudad{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
}

.contenedor-filtro-ciudad label{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 5px;
}

.contenedor-filtro-ciudad select{
    width: 100%;
    height: 45px;
    background-color: transparent;
    float: left;
    appearance: none;
    border: solid 2px #FFFFFF;
    outline: none;
    border-radius: 20px;
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
}

.contenedor-filtro-ciudad select option { 
    color:#FFFFFF; 
    background-color: #000000; 
}

.contenedor-categorias-modal{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
    margin-top: 60px;
}



.contenedor-btn-salir{
    width: 100%;
    height: 22px;
    float: left;
    position: absolute;
    bottom: 0;
    left: 0;
}

.contenedor-btn-salir a{
    width: auto;
    height: auto;
    background-color: transparent;
    float: left;
    display: inline-flex;
    justify-content: start;
    text-decoration: underline;
    cursor: pointer;
}

.contenedor-btn-salir a span{
    width: auto;
    height: auto;
    background-color: transparent;
    float: left;
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: left;
    margin-right: 10px;
}

.contenedor-btn-salir a img{
    width: 12px;
    height: 12px;
    background-color: transparent;
    float: left;
    margin-top: 5px;
}

.contenedor-carrusel-cartas{
    width: 72%;
    height: 100%;
    float: left;
    background-color: #000000;
    padding-left: 40px;
}

.cabecera-carrusel{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
    display: inline-flex;
    justify-content: space-between;
}

.cabecera-carrusel h3{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 27px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: left;
}

.contenedor-categoria-ciudad{
    width: 800px;
    height: auto;
    background-color: transparent;
    float: left;
    display: inline-flex;
    justify-content: end;
    padding-top: 4px;
}

.contenedor-categoria-ciudad p{
    width: auto;
    height: auto;
    background-color: transparent;
    float: left;
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: left;
}

.contenedor-categoria-ciudad span{
    width: auto;
    height: auto;
    background-color: transparent;
    float: left;
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

.contenedor-slider-inicio{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{

    text-decoration: none;
}

input {

    display: none;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 350px;
    max-height: 550px;
    display: flex;
    transform-style: preserve-3d;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
}

.cards{
    position: relative;
    height: 550px;
    width: 350px;
    margin-bottom: 20px;
    perspective: 1000px;
    transform-style: preserve-3d;
    background-color: transparent;
}

.cards label {
    position: absolute;
    width: 350px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.55s ease;
    border-radius: 10px;
}

.cards .card{
    position: relative;
    height: 100%;
    background-color: #000103;
    border-radius: 10px;
}

.cards .card figure{
    width: 100%;
    height: 550px;
    background-color: transparent;
    float: left;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.6);
}

.contenedor-botones-cartas{
    width: 100%;
    height: 60px;
    background-color: transparent;
    float: left;
    position: absolute;
    z-index: 10;
    bottom: 20px;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-flex;
    justify-content: space-between;
}

.contenedor-botones-cartas a{
    width: 60px;
    height: 60px;
    float: left;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #8C0000;
    border-radius: 10px;
    padding: 5px;
    transform: scale(1);
    transition: transform ease .2s;
}

.contenedor-botones-cartas .btn-reverso{
    background-color: #000000;
}

.contenedor-botones-cartas a span{
    width: 100%;
    height: auto;
    float: left;
    background-color: transparent;
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
}

.contenedor-botones-cartas a .iconos-btns{
    width: 30px;
    height: 30px;
    float: left;
    background-color: transparent;
}

.contenedor-botones-cartas a:hover{
    transform: scale(1.1);
    transition: transform ease .2s;
}

.cards .card figure .img-carta{
    width: 100%;
    height: 100%;
    background-color: transparent;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

#s1:checked~.cards #slide4,
#s2:checked~.cards #slide5,
#s3:checked~.cards #slide1,
#s4:checked~.cards #slide2,
#s5:checked~.cards #slide3 {
    box-shadow: transparent;
    transform: translate3d(-80%, 0, -220px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked~.cards #slide5,
#s2:checked~.cards #slide1,
#s3:checked~.cards #slide2,
#s4:checked~.cards #slide3,
#s5:checked~.cards #slide4 {
    box-shadow: transparent;
    transform: translate3d(-40%, 0, -120px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked~.cards #slide1,
#s2:checked~.cards #slide2,
#s3:checked~.cards #slide3,
#s4:checked~.cards #slide4,
#s5:checked~.cards #slide5 {
    box-shadow: transparent;
    transform: translate3d(0, 0, 0);
    --current-color1: #fad00c;
    --current-color2: #ECEAED;
}

#s1:checked~.cards #slide2,
#s2:checked~.cards #slide3,
#s3:checked~.cards #slide4,
#s4:checked~.cards #slide5,
#s5:checked~.cards #slide1 {
    box-shadow: transparent;
    transform: translate3d(40%, 0, -120px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked~.cards #slide3,
#s2:checked~.cards #slide4,
#s3:checked~.cards #slide5,
#s4:checked~.cards #slide1,
#s5:checked~.cards #slide2 {
    box-shadow: transparent;
    transform: translate3d(80%, 0, -220px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

.contenedor-btn-carrusel-inicio{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
    display: inline-flex;
    justify-content: center;
    margin-top: 60px;
}

.contenedor-btn-carrusel-inicio button{
    width: 35px;
    height: 35px;
    background-color: transparent;
    float: left;
    border: none;
    outline: none;
    appearance: none;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.contenedor-btn-carrusel-inicio button img{
    width: 35px;
    height: 35px;
    background-color: transparent;
    float: left;
}







.seccion-inicio-0{
    width: 100%;
    height: 100vh;
    background-color: #000000;
    float: left;
    position: relative;
    overflow: hidden;
}

.contenedor-img-portada-inicio{
    width: 100%;
    height: 100%;
    float: left;
    background-color: transparent;
    background: url('../../assets/img-portada-1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .3;
    transform: scale(1);
    animation-name: slide-inicio;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes slide-inicio {
    0%  {
            background: url('../../assets/img-portada-1.webp');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            /*transition: transform ease .4s;*/
        }
    50% {
            background: url('../../assets/img-portada-2.webp');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            transform: scale(1.1);
        }
    100%{
            background: url('../../assets/img-portada-1.webp');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            transform: scale(1);
            
        }
  }

.contenedor-general-inicio-0{
    width: 1200px;
    height: 85px;
    background-color: transparent;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedor-general-inicio-0 label{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
}

.contenedor-general-inicio-0 select{
    width: 700px;
    height: 60px;
    background-color: transparent;
    float: left;
    appearance: none;
    border: solid 2px #FFFFFF;
    outline: none;
    border-radius: 20px;
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 27px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: left;
    padding: 10px;
}

.contenedor-general-inicio-0 select option { 
    color:#FFFFFF; 
    background-color: #000000; 
}








.contenedor-titulos-seccion{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
}

.titulo-seccion{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
    display: inline-flex;
    justify-content: start;
}

.linea-titulo{
    width: 50px;
    height: 1px;
    background-color: #FFFFFF;
    float: left;
    margin-top: 10px;
}

.titulo-seccion span{
    width: auto;
    height: auto;
    background-color: transparent;
    float: left;
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 15px;
}







.seccion-inicio-1{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
    display: inline-flex;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 60px;
}

.contenedor-general-inicio-1{
    width: 1200px;
    height: auto;
    background-color: transparent;
    float: left;
    position: relative;
}

.contenedor-general-inicio-1 h2{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 45px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: left;
    line-height: 55px;
    margin-top: 20px;
}

.contenedor-carrusel-locaciones{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
    margin-top: 40px;
    overflow: hidden;
}

.carrusel-locaciones{
    width: 200%;
    height: auto;
    background-color: transparent;
    float: left;
    display: inline-flex;
    justify-content: space-between;
}

.locaciones{
    width: 100%;
    height: 350px;
    background-color: #000000;
    border-radius: 20px;
    border: solid 1px #FFFFFF;
    position: relative;
    overflow: hidden;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
}

.img-locacion{
    width: 100%;
    height: 100%;
    background-color: #000000;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
}

.img-locacion-1{
    background: url('../../assets/img-locaciones-1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5;
}

.img-locacion-2{
    background: url('../../assets/img-locaciones-2.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5;
}

.img-locacion-3{
    background: url('../../assets/img-locaciones-3.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5;
}

.img-locacion-4{
    background: url('../../assets/img-locaciones-4.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5;
}

.titulo-locacion{
    width: 100%;
    height: 34px;
    background-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 10;
}

.titulo-locacion h3{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 27px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
}

.contenedor-info-locacion{
    width: 100%;
    height: 100%;
    float: left;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    transform: scale(0);
    opacity: 0;
    transition: transform ease .4s;
}

.info-locacion{
    width: 80%;
    height: 80%;
    background-color: #000000;
    float: left;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    padding-top: 50px;
}

.info-locacion h3{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
}

.info-locacion p{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    line-height: 28px;
    margin-top: 20px;
}

.locaciones:hover .contenedor-info-locacion{
    transform: scale(1);
    opacity: 1;
    transition: transform ease .4s;
}









.seccion-inicio-2{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
    display: inline-flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 120px;
}

.contenedor-general-inicio-2{
    width: 1200px;
    height: auto;
    background-color: transparent;
    float: left;
    display: inline-flex;
    justify-content: space-between;
}

.contenedor-img-inicio-2{
    width: 40%;
    height: 500px;
    background-color: transparent;
    float: left;
    border-radius: 20px;
    position: relative;
    background: url('../../assets/img-nosotros-inicio.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor-icon-nosotros{
    width: 120px;
    height: 120px;
    float: left;
    background-color: #8C0000;
    position: absolute;
    right: -60px;
    bottom: 60px;
    border-radius: 20px;
}

.contenedor-icon-nosotros img{
    width: 90px;
    height: 90px;
    float: left;
    background-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.contenedor-info-nosotros{
    width: 48%;
    height: auto;
    background-color: transparent;
    float: left;
    padding-top: 40px;
}

.contenedor-info-nosotros h2{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 45px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: left;
    line-height: 55px;
    margin-top: 20px;
}

.contenedor-info-nosotros p{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: left;
    line-height: 28px;
    margin-top: 20px;
}

.contenedor-info-nosotros a{
    width: auto;
    height: 50px;
    background-color: #8C0000;
    float: left;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 12px;
    padding-bottom: 15px;
    border-radius: 20px;
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 40px;
    border: solid 3px #8C0000;
}

.contenedor-info-nosotros a:hover{
    background-color: transparent;
    border: solid 3px #8C0000;
}