inicio-0{
    width: 100%;
    height: 100vh;
    background-color: #0D0D0D;
    float: left;
    position: relative;
    overflow: hidden;
}

.contenedor-img-portada-inicio{
    width: 100%;
    height: 100%;
    float: left;
    background-color: transparent;
    background: url('../../assets/img-portada-1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .3;
    transform: scale(1);
    animation-name: slide-inicio;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes slide-inicio {
    0%  {
            background: url('../../assets/img-portada-1.webp');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            /*transition: transform ease .4s;*/
        }
    50% {
            background: url('../../assets/img-portada-2.webp');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            transform: scale(1.1);
        }
    100%{
            background: url('../../assets/img-portada-1.webp');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            transform: scale(1);
            
        }
  }

.contenedor-general-inicio-0{
    margin-top: 1500px;
    width: 1200px;
    height: 85px;
    background-color: transparent;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedor-general-inicio-0 label{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    color: #FF344F;
    text-align: center;
}

.contenedor-general-inicio-0 select{
    width: 700px;
    height: 60px;
    background-color: transparent;
    float: left;
    appearance: none;
    border: solid 2px #FF344F;
    outline: none;
    border-radius: 20px;
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 27px;
    text-decoration: none;
    color: #FF344F;
    text-align: left;
    padding: 10px;
}

.contenedor-general-inicio-0 select option { 
    color:#FF344F; 
    background-color: #000000; 
}

.titulo-seccion {
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
    display: inline-flex;
    justify-content: start;
}

.linea-titulo{
    width: 50px;
    height: 1px;
    background-color: #FF344F;
    float: left;
    margin-top: 10px;
}

.titulo-seccion span{
    width: auto;
    height: auto;
    background-color: transparent;
    float: left;
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    color: #FF344F;
    margin-left: 15px;
}

.seccion-inicio-1{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
    display: inline-flex;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 60px;
    margin-top: 10px;
}

.contenedor-general-inicio-1{
    width: 1200px;
    height: auto;
    background-color: transparent;
    float: left;
    position: relative;
}

.contenedor-general-inicio-1 h2{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 45px;
    text-decoration: none;
    color: #ffffff;
    text-align: left;
    line-height: 55px;
    margin-top: 20px;
}

.contenedor-carrusel-locaciones {
    width: 100%;
    margin-top: 40px;
    overflow: hidden;
}

.carrusel-locaciones {
    width: 200%;
    display: flex;
    justify-content: space-between;
}

.locaciones {
    width: 20%; /* Adjust for spacing */
    height: 350px;
    background-color: #000000;
    border-radius: 20px;
    border: solid 1px #ffffff;
    position: relative;
    overflow: hidden;
    margin: 0 30px;
    cursor: pointer;
}

.img-locacion{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.img-locacion-1{
    background: url('../../assets/img-locaciones-1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5;
}

.img-locacion-2{
    background: url('../../assets/img-locaciones-2.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5;
}

.img-locacion-3{
    background: url('../../assets/img-locaciones-3.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5;
}

.img-locacion-4{
    background: url('../../assets/img-locaciones-4.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5;
}

.titulo-locacion {
    width: 100%;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    z-index: 10;
}

.titulo-locacion h3 {
    font-size: 27px;
    color: #FFFFFF;
    text-align: center;
}

.contenedor-info-locacion {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    transform: scale(0);
    opacity: 0;
    transition: transform ease .4s;
}

.info-locacion {
    width: 80%;
    height: 80%;
    background-color: #FF344F;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 20px;
    padding: 50px 20px 20px;
    box-sizing: border-box;
    max-width: 800px; /* Set a max-width for larger screens */
    max-height: 600px; /* Set a max-height */
    overflow-y: auto; /* Scroll if content overflows */
}

.info-locacion h3{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
}

.info-locacion p{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    line-height: 28px;
    margin-top: 20px;
}

.locaciones:hover .contenedor-info-locacion{
    transform: scale(1);
    opacity: 1;
    transition: transform ease .4s;
}

.seccion-inicio-2{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
    display: inline-flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 120px;
}

.contenedor-general-inicio-2 {
    display: flex;
    width: 1200px;
    height: auto;
    background-color: transparent;
    float: left;
    display: inline-flex;
    justify-content: space-between;
}

.contenedor-img-inicio-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allow the content to wrap on smaller screens */
    width: 100%; /* Make sure the container takes the full width */
    max-width: 400px; /* Adjust as needed for your design */
    background-color: transparent;
    float: left;
    margin: 20px 0;
    text-align: center; /* Center the image inside the container */
    border-radius: 20px;
    position: relative;
    background: url('../../assets/thinking.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor-icon-nosotros {
    width: 120px;
    height: 120px;
    float: left;
    background-color: #8C0000;
    position: absolute;
    right: -60px;
    bottom: 60px;
    border-radius: 20px;
}

.contenedor-icon-nosotros img{
    width: 90px;
    height: 90px;
    float: left;
    background-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.contenedor-info-nosotros{
    width: 48%;
    height: auto;
    background-color: transparent;
    float: left;
    padding-top: 40px;
}

.contenedor-info-nosotros h2{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 4vw; /* Adjusts font size based on viewport width */
    text-decoration: none;
    color: #0D0D0D;
    text-align: left;
    line-height: 55px;
    margin-top: 20px;
}

.contenedor-info-nosotros p{
    width: 100%;
    height: auto;
    background-color: transparent;
    float: left;
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    color: #0D0D0D;
    text-align: left;
    line-height: 28px;
    margin-top: 20px;
}

.contenedor-info-nosotros a {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    height: 50px;
    background-color: #FF344F;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 12px;
    padding-bottom: 15px;
    border-radius: 20px;
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 40px;
    border: solid 3px #FF344F;
}

.contenedor-info-nosotros a:hover{
    background-color: #CC0721;
    border: solid 3px #000000;
}

.responsive-icon {
    width: 100%; /* Allow the image to take the full width of its container */
    height: auto; /* Maintain aspect ratio */
    max-width: 100px; /* Prevent the image from becoming too large */
}

/* Styles for large screens */
@media (min-width: 1700px) {
    .carrusel-locaciones {
        width: 100%; /* Adjust as needed to fit three locaciones */
        margin: auto; /* Center the carousel */
        overflow: hidden; /* Hide overflowing content */
    }

    .locaciones {
        width: calc(80% - 60px); /* Three items with spacing */
        margin: 0 30px; /* Adjust spacing between items */
    }
}

/* Responsive styles for smaller screens */
@media (max-width: 1699px) {
    .carrusel-locaciones {
        width: 100%;
    }

    .locaciones {
        width: 70%; /* Maintain the original layout for smaller screens */
    }
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .contenedor-general-inicio-0 {
        width: 100%;
        padding: 0 20px;
    }

    .contenedor-general-inicio-0 select {
        width: 100%;
        font-size: 16px;
    }

    .categorias {
        width: 150px;
        height: 100px;
    }

    .categorias img {
        width: 70%;
        height: 70%;
    }

    .locaciones {
        width: 50%; /* Adjust for margin */
        height: 250px;
    }

    .carousel-buttons {
        bottom: -50px; /* Adjust based on button size */
    }

    .carousel-buttons button {
        padding: 8px;
    }
}

@media (max-width: 1024px) {
    .seccion-inicio-1 {
        width: 100%;
        height: auto;
        background-color: transparent;
        float: left;
        display: inline-flex;
        justify-content: center;
        padding-top: 120px;
        padding-bottom: 60px;
        margin-top: -250px;
    }
}

@media (max-width: 992px) {
    .contenedor-footer {
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: column;
        align-items: center;
    }

    .contenedor-logo-footer {
        margin-bottom: 20px;
    }

    .contenedor-datos-avisos-footer {
        margin-bottom: 20px;
    }

    .contenedor-calificacion-footer {
        width: 100%;
    }

    .contenedor-input input[type="text"], .contenedor-input textarea {
        width: 100%;
    }

    .contenedor-button input[type="submit"] {
        width: 100%;
    }

    .carrusel-locaciones {
        flex-direction: column;
    }

    .locaciones {
        width: 80%; /* 1 item per row with margin */
        margin: 0 15px; /* Adjust margin for better spacing */
        height: 200px;
    }
}

@media (max-width: 912px) {
    .contenedor-img-inicio-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; /* Center the text inside */
    }

    .contenedor-icon-nosotros {
        margin-top: 20px;
        width: 100%; /* Ensure the div takes full width */
        text-align: center; /* Center the content inside */
    }

    .responsive-icon {
        max-width: 100px; /* Adjust the size of the SVG icon */
        height: auto;
    }

    .locaciones {
        width: 80%; /* 1 item per row with margin */
        margin: 0 15px; /* Adjust margin for better spacing */
        height: 200px;
    }
}

@media (max-width: 768px) {
    .categorias {
        width: 120px;
        height: 80px;
    }

    .categorias img {
        width: 60%;
        height: 60%;
    }


    .contenedor-footer {
        padding: 10px;
        flex-direction: column;
    }

    .contenedor-logo-footer {
        width: 200px;
    }

    .contenedor-datos-avisos-footer,
    .contenedor-calificacion-footer {
        width: 100%;
    }

    .carousel-buttons {
        bottom: -40px; /* Adjust based on button size */
    }

    .carousel-buttons button {
        padding: 6px;
    }

    .carrusel-locaciones {
        flex-direction: column;
    }

    .locaciones {
        width: 80%; /* 1 item per row with margin */
        margin: 0 15px; /* Adjust margin for better spacing */
        height: 200px;
    }

    .seccion-inicio-1 {
        width: 100%;
        height: auto;
        background-color: transparent;
        float: left;
        display: inline-flex;
        justify-content: center;
        padding-top: 120px;
        padding-bottom: 60px;
        margin-top: -400px;
    }
}

@media (max-width: 576px) {
    .contenedor-footer {
        padding: 5px;
        flex-direction: column;
    }

    .contenedor-logo-footer {
        width: 150px;
    }

    .categorias {
        width: 100px;
        height: 70px;
    }

    .categorias img {
        width: 50%;
        height: 50%;
    }

    .contenedor-general-inicio-0 {
        padding: 0;
    }

    .carousel-buttons {
        bottom: -30px; /* Adjust based on button size */
    }

    .carousel-buttons button {
        padding: 4px;
    }

    .carrusel-locaciones {
        flex-direction: column;
    }

    .locaciones {
        width: 80%; /* 1 item per row with margin */
        margin: 0 15px; /* Adjust margin for better spacing */
        height: 200px;
    }

    .seccion-inicio-1 {
        width: 100%;
        height: auto;
        background-color: transparent;
        float: left;
        display: inline-flex;
        justify-content: center;
        padding-top: 120px;
        padding-bottom: 60px;
        margin-top: -70px;
    }
}

@media (max-width: 768px) {
    .contenedor-info-nosotros a {
        font-size: 14px;
        padding: 8px 16px;
    }

    .modal-dialog {
        width: 95%; /* Increase width on smaller screens */
    }
}

@media (max-width: 480px) {
    .contenedor-info-nosotros a {
        font-size: 12px;
        padding: 6px 12px;
    }

    .modal-dialog {
        width: 95%; /* Increase width on smaller screens */
    }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .modal-dialog {
    margin: 5% auto;
    width: 90%; /* Default width */
    max-width: 800px; /* Max width */
  }

  .modal-title {
    font-weight: bold; /* Makes the text bold */
  }
  
  .modal-content {
    background: #FF344F;
    color: rgb(255, 255, 255);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-sizing: border-box; 
  }
  
  .close-modal {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
    border: none;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-modal:hover {
    color: #ff0000; /* Change color on hover */
}

/* Ensure the button is easily clickable */
.close-modal:focus {
    outline: none; /* Remove default focus outline */
}

  /* Base transition for elements */
  .transition {
    transition: opacity 0.8s ease-in, transform 0.8s ease-in;
  }
  
  /* Initial state of elements (hidden or scaled down) */
  .transition.hidden {
    opacity: 0;
    transform: translateY(20px); /* Adjust this value as needed */
  }
  
  /* State of elements when visible */
  .transition.visible {
    opacity: 1;
    transform: translateY(0);
  }