<section class="seccion-general">
    <app-carousel></app-carousel>

    <section class="seccion-inicio-1">
        <div class="contenedor-general-inicio-1">
            <div class="titulo-seccion">
                <div class="linea-titulo"></div>
                <span>Descubre donde nos encontramos</span>
            </div>
            <h2>¡Minitourist Cards siempre contigo!</h2>

            <div class="contenedor-carrusel-locaciones">
                <div class="carrusel-locaciones">

                    <div class="carrusel-locaciones">
                        <div class="locaciones" *ngFor="let location of locations; let i = index">
                          <div [ngClass]="location.imgClass"></div>
                          <div class="titulo-locacion">
                            <h3>{{ location.title }}</h3>
                          </div>
                      
                          <div class="contenedor-info-locacion">
                            <div class="info-locacion" (click)="openModal(location)">
                                <h3>Click para saber más</h3>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="seccion-inicio-2">
        <div class="contenedor-general-inicio-2">
            <div class="contenedor-img-inicio-2">
                <!--<div class="contenedor-icon-nosotros">
                    <img src="../../assets/icon-inicio.svg" alt="" class="responsive-icon">
                </div>-->
            </div>

            <div class="contenedor-info-nosotros">
                <div class="titulo-seccion">
                    <div class="linea-titulo"></div>
                    <span>Descubre nuestras promociones</span>
                </div>

                <h2>¡Aprovecha los descuentos que tenemos para ti!</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta molestias excepturi cum earum exercitationem dignissimos tempora illum obcaecati. Facilis 
                    id fuga laborum impedit maxime sed eos ipsum nobis odit distinctio.
                </p>

                <a href="">CONOCER MÁS</a>
            </div>
        </div>
    </section>

    <footer>
        <div class="contenedor-footer">
            <div class="contenedor-logo-footer">
                <img src="" alt="">
            </div>

            <div class="contenedor-datos-avisos-footer">
                <div class="datos-contacto-footer">
                    <div class="titulo-seccion">
                        <div class="linea-titulo"></div>
                        <span>CONTACTANOS</span>
                    </div>

                    <ul>
                        <li><strong>Email:</strong> minitouris@gmail.com</li>
                        <li><strong>Tel:</strong> (55) 2620 0507</li>
                    </ul>

                    <div>
                        <a href=""><img src="" alt=""></a>
                        <a href=""><img src="" alt=""></a>
                        <a href=""><img src="" alt=""></a>
                        <a href=""><img src="" alt=""></a>
                    </div>
                </div>

                <div class="datos-avisos-footer">
                    <div class="titulo-seccion">
                        <div class="linea-titulo"></div>
                        <span>LEGAL</span>
                    </div>

                    <ul>
                        <li><a>Aviso de Privacidad</a></li>
                        <li><a>Términos & Condiciones</a></li>
                    </ul>
                </div>
            </div>

            <div class="contenedor-calificacion-footer">
                <div class="titulo-seccion">
                    <div class="linea-titulo"></div>
                    <span>CALIFICACIÓN</span>
                </div>

                <form action="">
                    <div class="contenedor-input">
                        <input type="text" name="" placeholder="Nombre Completo">
                    </div>

                    <div class="contenedor-input">
                        <label class="titulo-calificacion">Calificanos</label>
                        <div class="calificacion">
                            <input id="radio1" type="radio" name="estrellas" value="5">
                            <label for="radio1">★</label>

                            <input id="radio2" type="radio" name="estrellas" value="4">
                            <label for="radio2">★</label>

                            <input id="radio3" type="radio" name="estrellas" value="3">
                            <label for="radio3">★</label>

                            <input id="radio4" type="radio" name="estrellas" value="2">
                            <label for="radio4">★</label>

                            <input id="radio5" type="radio" name="estrellas" value="1">
                            <label for="radio5">★</label>
                        </div>
                    </div>

                    <div class="contenedor-input">
                        <textarea name="" id="" placeholder="Dejanos un Comentario"></textarea>
                    </div>

                    <div class="contenedor-button">
                        <input type="submit" value="Enviar">
                    </div>
                </form>
            </div>
        </div>
    </footer>
</section>

<!-- Modal -->
<div class="modal" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="infoModalLabel">{{ selectedTitle }}</h5>
          <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{ selectedBody }}</p>
        </div>
      </div>
    </div>
  </div>