<section class="seccion-general">
    <app-carousel></app-carousel>

    <section class="seccion-inicio-1">
        <div class="contenedor-general-inicio-1">
            <div class="titulo-seccion">
                <div class="linea-titulo"></div>
                <span>LOCACIONES</span>
            </div>
            <h2>LOREM IPSUM DOLOR,<br> CONSECTETUR ADIPISCING ELIT.</h2>

            <div class="contenedor-carrusel-locaciones">
                <div class="carrusel-locaciones">
                    <div class="locaciones">
                        <div class="img-locacion img-locacion-1"></div>
                        <div class="titulo-locacion">
                            <h3>Ixtapa Zihuatanejo</h3>
                        </div>

                        <div class="contenedor-info-locacion">
                            <div class="info-locacion">
                                <h3>Ixtapa Zihuatanejo</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae id, incidunt officiis nesciunt consequatur.</p>
                            </div>
                        </div>
                    </div>

                    <div class="locaciones">
                        <div class="img-locacion img-locacion-2"></div>
                        <div class="titulo-locacion">
                            <h3>Acapulco</h3>
                        </div>

                        <div class="contenedor-info-locacion">
                            <div class="info-locacion">
                                <h3>Acapulco</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae id, incidunt officiis nesciunt consequatur.</p>
                            </div>
                        </div>
                    </div>

                    <div class="locaciones">
                        <div class="img-locacion img-locacion-3"></div>
                        <div class="titulo-locacion">
                            <h3>Morelia</h3>
                        </div>

                        <div class="contenedor-info-locacion">
                            <div class="info-locacion">
                                <h3>Morelia</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae id, incidunt officiis nesciunt consequatur.</p>
                            </div>
                        </div>
                    </div>

                    <div class="locaciones">
                        <div class="img-locacion img-locacion-4"></div>
                        <div class="titulo-locacion">
                            <h3>San Cristobal de las Casas</h3>
                        </div>

                        <div class="contenedor-info-locacion">
                            <div class="info-locacion">
                                <h3>San Cristobal de las Casas</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae id, incidunt officiis nesciunt consequatur.</p>
                            </div>
                        </div>
                    </div>

                    <div class="locaciones">
                        <div class="img-locacion img-locacion-5"></div>
                        <div class="titulo-locacion">
                            <h3>Nuevo León</h3>
                        </div>

                        <div class="contenedor-info-locacion">
                            <div class="info-locacion">
                                <h3>Nuevo León</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae id, incidunt officiis nesciunt consequatur.</p>
                            </div>
                        </div>
                    </div>

                    <div class="locaciones">
                        <div class="img-locacion img-locacion-6"></div>
                        <div class="titulo-locacion">
                            <h3>Tula</h3>
                        </div>

                        <div class="contenedor-info-locacion">
                            <div class="info-locacion">
                                <h3>Tula</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae id, incidunt officiis nesciunt consequatur.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="seccion-inicio-2">
        <div class="contenedor-general-inicio-2">
            <div class="contenedor-img-inicio-2">
                <div class="contenedor-icon-nosotros">
                    <img src="../../assets/icon-inicio.svg" alt="">
                </div>
            </div>

            <div class="contenedor-info-nosotros">
                <div class="titulo-seccion">
                    <div class="linea-titulo"></div>
                    <span>ACERCA DE NOSOTROS</span>
                </div>

                <h2>LOREM IPSUM DOLOR, CONSECTETUR ADIPISCING ELIT.</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta molestias excepturi cum earum exercitationem dignissimos tempora illum obcaecati. Facilis 
                    id fuga laborum impedit maxime sed eos ipsum nobis odit distinctio.
                </p>

                <a href="">CONOCER MÁS</a>
            </div>
        </div>
    </section>

    <footer>
        <div class="contenedor-footer">
            <div class="contenedor-logo-footer">
                <img src="" alt="">
            </div>

            <div class="contenedor-datos-avisos-footer">
                <div class="datos-contacto-footer">
                    <div class="titulo-seccion">
                        <div class="linea-titulo"></div>
                        <span>CONTACTANOS</span>
                    </div>

                    <ul>
                        <li><strong>Email:</strong> minitouris@gmail.com</li>
                        <li><strong>Tel:</strong> (55) 2620 0507</li>
                    </ul>

                    <div>
                        <a href=""><img src="" alt=""></a>
                        <a href=""><img src="" alt=""></a>
                        <a href=""><img src="" alt=""></a>
                        <a href=""><img src="" alt=""></a>
                    </div>
                </div>

                <div class="datos-avisos-footer">
                    <div class="titulo-seccion">
                        <div class="linea-titulo"></div>
                        <span>LEGAL</span>
                    </div>

                    <ul>
                        <li><a>Aviso de Privacidad</a></li>
                        <li><a>Términos & Condiciones</a></li>
                    </ul>
                </div>
            </div>

            <div class="contenedor-calificacion-footer">
                <div class="titulo-seccion">
                    <div class="linea-titulo"></div>
                    <span>CALIFICACIÓN</span>
                </div>

                <form action="">
                    <div class="contenedor-input">
                        <input type="text" name="" placeholder="Nombre Completo">
                    </div>

                    <div class="contenedor-input">
                        <label class="titulo-calificacion">Calificanos</label>
                        <div class="calificacion">
                            <input id="radio1" type="radio" name="estrellas" value="5">
                            <label for="radio1">★</label>

                            <input id="radio2" type="radio" name="estrellas" value="4">
                            <label for="radio2">★</label>

                            <input id="radio3" type="radio" name="estrellas" value="3">
                            <label for="radio3">★</label>

                            <input id="radio4" type="radio" name="estrellas" value="2">
                            <label for="radio4">★</label>

                            <input id="radio5" type="radio" name="estrellas" value="1">
                            <label for="radio5">★</label>
                        </div>
                    </div>

                    <div class="contenedor-input">
                        <textarea name="" id="" placeholder="Dejanos un Comentario"></textarea>
                    </div>

                    <div class="contenedor-button">
                        <input type="submit" value="Enviar">
                    </div>
                </form>
            </div>
        </div>
    </footer>
</section>