<section class="seccion-general transition hidden">
    <app-carousel></app-carousel>

    <section class="seccion-inicio-1">
        <div class="contenedor-general-inicio-1">
            <div class="titulo-seccion">
                <div class="linea-titulo"></div>
                <span>Descubre donde nos encontramos</span>
            </div>
            <h2>¡Minitourist Cards siempre contigo!</h2>

            <div class="contenedor-carrusel-locaciones">
                <div class="carrusel-locaciones">

                    <div class="carrusel-locaciones">
                        <div class="locaciones" *ngFor="let location of locations; let i = index">
                          <div [ngClass]="location.imgClass"></div>
                          <div class="titulo-locacion">
                            <h3>{{ location.title }}</h3>
                          </div>
                      
                          <div class="contenedor-info-locacion">
                            <div class="info-locacion" (click)="openModal(location)">
                                <h3>Click para saber más</h3>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="seccion-inicio-2">
        <div class="contenedor-general-inicio-2">
            <div class="contenedor-img-inicio-2">
                <!--<div class="contenedor-icon-nosotros">
                    <img src="../../assets/icon-inicio.svg" alt="" class="responsive-icon">
                </div>-->
            </div>

            <div class="contenedor-info-nosotros">
                <div class="titulo-seccion">
                    <div class="linea-titulo"></div>
                    <span>¿SABES QUE SON LAS MINITOURIST CARDS?</span>
                </div>

                <h2>¡BUSCA LA TUYA Y OBTEN GRANDES DECUENTOS!</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta molestias excepturi cum earum exercitationem dignissimos tempora illum obcaecati. Facilis 
                    id fuga laborum impedit maxime sed eos ipsum nobis odit distinctio.
                </p>

                <a href="/more-about-mt">CONOCER MÁS</a>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</section>

<!-- Modal -->
<div class="modal" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="infoModalLabel">{{ selectedTitle }}</h5>
          <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{ selectedBody }}</p>
        </div>
      </div>
    </div>
  </div>